@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Meddon&display=swap');

.Order{
    width: 80vw;
    margin: 10vh auto 5vh auto;
}

h2, h3{
    font-family: 'Cormorant', serif;
}

@media(min-width: 800px){
    .OrderContainer{
        width: 100vw;
        min-height: 100vh;
        height: auto;
        background: url('../assets/images/IMG_8930.webp') no-repeat center center/cover;
        display: flex;
        justify-content: center;
    }
    .Order{
        width: 600px;
        margin: 0;
        padding: 10vh 100px 5vh 100px;
        background-color: #333333;
        color: #f1f1f1;
    }
    .OrderHeader{
        margin-bottom: 15px;
    }
}
